body
{
    background-color: rgb(0, 0, 0);
}
h1
{
    font-family: Courier New;
    color: white;
    text-align: center;
}
td
{
    display: flex;
}
.description
{
    font-family: Courier New;
    color: rgb(255,255,0);
}
.content
{
    font-family: Courier New;
    color: white;
}
.macro
{
    font-family: Consolas;
    color: white;
}